name: Qodana
on:
    workflow_dispatch:
    pull_request:
    push:
        branches:
            - main
            - dev

jobs:
    qodana:
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
                with:
                    args: --baseline,qodana.sarif.json
                    cache-default-branch-only: true
                    fetch-depth: 0
            -   name: 'Qodana Scan'
                uses: JetBrains/qodana-action@v2023.1.0
version: 1.0

